/* Menu media */
$main-menu-medium: $medium;

/* Nav */
.main-nav {
  display: flex !important;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 0.6s ease-in-out;

  @include medium {
    display: block;
  }

  &--open {
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    display: block;
    overflow-y: scroll;
    width: 100%;
    background-color: clr(background);

    @include medium {
      position: relative;
      left: auto;
      right: auto;
      top: auto;
      width: auto;
      overflow-y: visible;
    }
  }
}

/* UL */
.main-menu {
  @include list-reset;

  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid;
  @include medium {
    border-bottom: none;
  }
}

@media screen and (min-width: 840px) {
  .main-nav {
    position: static;
  }

  .main-menu__link {
    text-transform: uppercase !important;
  }
}

@media screen and (max-width: 840px) {
  .main-nav {
    position: fixed;
    top: 0;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px 0;
    height: 113%;
    overflow-y: hidden;
    background: url('/sites/default/files/background/background.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      background: linear-gradient(to bottom, rgba(76, 64, 132, 90%) 0%, rgba(28, 24, 51, 90%) 100%);
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.98;
    }
  }

  .main-nav--open {
    visibility: visible;
    z-index: 150;
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    border: none !important;
    justify-content: flex-start !important;
    width: 100% !important;
    margin-top: 100px;
  }

  .main-menu__item {
    border: none !important;
    padding: 0;
    margin: 0 !important;
    width: 100% !important;
  }

  .main-menu__link {
    text-transform: capitalize;
    line-height: 21px !important;
    font-size: 21px !important;
    margin: 0 !important;
    padding: 12px 30px 12px 12px !important;
    display: inline !important;
    @include white();
  }

  .mobile_container {
    display: block !important;
    position: relative !important;
    text-align: right;
  }

  .toggle-expand {
    position: relative !important;
    padding: 0 !important;
    margin-top: -5rem !important;
    width: 50px;
  }

  .toggle-expand--open {
    visibility: visible;
    z-index: 799 !important;
    background-color: transparent !important;
    margin: 18px;
  }

  .toggle-expand__close {
    position: relative;
    visibility: visible;
    z-index: 1000 !important;
    background: transparent;
    margin-top: -6rem;
    margin-right: 1rem;
  }

  .toggle-expand__text_close {
    font-size: 40px !important;
  }

  .main-menu__item--with-sub {
    width: 70vh !important;
  }

  .main-menu__item--sub {
    margin-left: 20px !important;
    padding: 0 !important;
    text-align: left !important;
  }

  .weather {
    display: none;
  }

  .logo-and-date {
    margin: 0 !important;

    .logo {
      .logo_link {
        font-size: 24px;
        line-height: 48px;
        font-weight: 600;
      }
    }

    .data-p {
      display: none;
    }
  }

  .social_list {
    display: none;
  }

  .serch_a {
    margin: 10px 80px 0 0;
  }
}

@media screen and (max-width: 1050px) {
  .main-menu__link {
    font-size: 12px;
    line-height: 42px !important;
    font-weight: 600 !important;
  }

  .logo_link {
    font-size: 34px;
  }

  .data-p {
    font-size: 13px;
  }
}

/*
 * Sub Navigation
 */

/* UL (Nested) */
.main-menu--sub {
  height: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: none;

  @include medium {
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 1;
    display: none;
    height: auto;
    overflow: visible;
    padding: $space 0;
    width: 315px;
    background-color: clr(accent-high);
    font-size: 0.9rem;
  }

  &:hover {
    .main-menu__link--sub {
      @include medium {
        color: clr(highlight);

        &.active,
        &:active,
        &:hover {
          color: clr(secondary);
        }
      }
    }
  }

  /* See main-menu.js */
  &-open {
    height: auto;
  }
}
