/* LI */
.main-menu__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid;


  @include medium {
    display: inline-block;
    border-top: none;

    /* Only top level */
    &:not(.main-menu__item--sub):focus-within,
    &:not(.main-menu__item--sub):hover {
      background-color: clr(accent-high);
      color: clr(highlight-high);

      > .main-menu__link {
        color: clr(highlight);

        &:hover,
        &:focus {
          color: clr(highlight-high);
        }
      }

      & > .main-menu--sub {
        display: block;
      }
    }
  }
}

/* Expand Button */
.expand-sub {
  position: relative;
  display: block;
  width: 20%;
  color: clr(text-inverse);
  cursor: pointer;
  &:hover{
    @include white();
  }

  @include medium {
    display: none;
  }

  /* Down triangle */
  &::after {
    background: transparent!important;
    position: absolute;
    right: 50%;
    top: 50%;
    content: '\003E';
    font-size: 40px;
    display: block;
    margin-right: -12px;
    margin-top: -6px;
    width: 0;
    border-bottom-color: transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }

  /* See main-menu.js */
  &--open {
   @include white();

    &::after {
      margin-top: -20px;
      border-top-color: transparent;
      content: '\003E';
      display: inline-block;
      transform: rotate(90deg);
    }
    &:active{
      @include white();
    }
    &:hover{
      @include white();
    }
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {
  text-align: right;
  display: block;
  max-width: 150px;
  margin-left: -270px;
  border-right: $border;
  border-left: $border;
  @include li-height;
  @include medium {
    &:last-child{
      border-bottom: $border;
    }
    &:first-child{
      border-top: $border;
    }
  }
}:hover{
  @include link-hover;
 }
.main-menu__link--sub-1{
  max-height: 25px;
}
