.footer {
  background: url('/themes/custom/customtheme/assets/images/footer.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    background: black;
    opacity: 0.9;
    width: inherit;
    height: inherit;

    @include large {
      flex-direction: row;
    }
  }
}

.footer-links {
  .social_list {
    display: block;
  }
}
.footer__social {
  margin-bottom: $space;

  @include large {
    flex: 0 1 30%;
    margin-bottom: 0;
    margin-right: $space;
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    text-align: center;
    margin-top: 40px;

    :hover {
      color: $white !important;
    }

    &_link {
      color: $white;
    }
  }

  .copyright {
    margin: 0;
    color: $white;
  }

  .social-menu-footer {
    display: flex;
    justify-content: center;

    .social_list {
      display: block;

      .social-ul {
        display: flex;
      }
    }
  }

  .about {
    width: 100%;

    &__h2 {
      text-align: center;
      color: $block-title-footer;
    }

    .top-menu-black_background {
      display: block;

      .top-menu-black_background__item {
        :hover {
          color: $block-title-footer !important;
        }

        .top-menu-black_background__link {
          text-transform: uppercase;
          font-size: 11px;
          color: $white;
        }
      }
    }
  }
}

.footer__branding {
  max-width: 10rem;
}

#block-customtheme-views-block-popular-category-block-1 {
  width: 100%;
}

.popular_footer {
  width: 100%;
  margin-left: 45%;

  div {
    width: 100%;

    .contextual-region {
      width: 100%;

      .views-row {
        display: flex;

        :hover {
          color: $block-title-footer !important;
        }

        .views-field-name {
          .field-content {
            text-transform: uppercase;

            a {
              @include link-top;
            }
          }
        }

        .views-field-name-1 {
          .field-content {
            color: $white;
          }
        }
      }
    }
  }
}

#block-customtheme-views-block-editor-picks-block-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor_footer {
  width: 100%;

  div {
    width: 100%;

    .contextual-region {
      width: 100%;

      .views-row {
        min-height: 100px;
        margin-left: 20px;

        .views-field-title {
          .field-content {
            display: block;

            a {
              font-size: 15px;
              @include link-footer;

              :hover {
                color: $block-title-footer !important;
              }
            }
          }
        }

        .views-field-created {
          .field-content {
            time {
              @include link-footer;

              font-size: 13px;
            }
          }
        }

        .views-field-field-photo {
          .field-content {
            a {
              @include link-footer;

              float: right;
              margin-top: -60px;
              margin-right: 50px;
            }
          }
        }
      }
    }
  }
}

.footer_h {
  text-align: center;
  color: $block_title-footer;
}

@media screen and (min-width: 768px) {
  .popular_footer {
    div {
      .contextual-region {
        .views-row {
          .views-field-name {
            .field-content {
              a {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }

  .editor_footer {
    div {
      .contextual-region {
        .views-row {
          .views-field-title {
            .field-content {
              a {
                font-size: 12px;
              }
            }
          }

          .views-field-created {
            display: none;
          }
        }
      }
    }
  }

  .views-field-field-photo {
    .field-content {
      a {
        img {
          width: 80%;
        }
      }
    }
  }

  .footer__menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px 10px 0;

    .left_footer {
      padding-left: 10px;

      .logo {
        margin: 0;
        min-width: 200px;
        text-align: start;

        .logo_link {
          font-size: 22px;
        }
      }

      .copyright {
        font-size: 12px;
      }
    }

    .about {
      margin-left: 50px;

      &__h2 {
        margin: 0;
        text-align: start;
      }
    }

    .top-menu-black_background {
      padding: 0;

      &__item {
        padding: 0;
      }
    }
  }

  .popular_footer {
    margin: 0;
  }

  .footer_h {
    text-align: start;
    padding: 0;
    margin: 0;
    font-size: 18px;
  }

  .views-field-name-1 {
    text-align: center;
  }

  .editor_footer {
    min-width: 250px;

    div {
      .contextual-region {
        .views-row {
          margin: 0;

          .views-field-field-photo {
            .field-content {
              a {
                margin-right: 0;
              }
            }
          }

          .views-field-title {
            max-width: 80%;

            .field-content {
              line-height: 1.1;
              font-size: 12px;
              max-width: 80%;
            }
          }
        }
      }
    }
  }

  #block-customtheme-views-block-editor-picks-block-1 {
    align-items: start;
  }

  .about__h2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1050px) {
  .editor_footer {
    div {
      .contextual-region {
        .views-row {
          .views-field-title {
            .field-content {
              a {
                font-size: 14px;
              }
            }
          }

          .views-field-created {
            display: block;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;

    &__inner {
      width: 100%;
      display: flex;
      justify-content: center;

      .footer__menu {
        width: 100%;

        .left_footer {
          .logo {
            .logo_link {
              font-size: 32px;
            }
          }

          .copyright {
            font-size: 14px;
          }
        }

        .editor_footer {
          min-width: 350px;
        }
      }

      .footer_h {
        font-size: 19px;
      }
    }
  }

  .footer__footer_wrapper {
    display: flex;
    justify-content: center;
  }

  .about {
    .about__h2 {
      font-size: 19px;
    }
  }
}

@media screen and (min-width: 1140px) {
  .footer {
    &__inner {
      .footer__menu {
        .left_footer {
          .logo {
            .logo_link {
              font-size: 34px;
            }
          }
        }
      }
    }

    .footer_h {
      font-size: 24px;
    }
  }

  .about {
    .about__h2 {
      font-size: 24px;
    }
  }

  .editor_footer {
    div {
      .contextual-region {
        .views-row {
          .views-field-title {
            .field-content {
              a {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
