{% set footer__base_class = 'footer' %}

<footer {{ bem(footer__base_class) }}>
  <div {{ bem('inner', [], footer__base_class) }}>
    <div {{ bem('menu', [], footer__base_class) }}>
      {% include "@atoms/text/text/logo.twig" %}
      {% include "@atoms/text/text/copyright.twig" %}
      {% include "@molecules/menus/inline/inline-menu.twig" %}
      {% block footer__menu %}

      {% endblock %}
    </div>
  </div>
</footer>
