{% set footer__base_class = 'footer' %}

<footer {{ bem(footer__base_class) }}>
  <div {{ bem('inner', [], footer__base_class) }}>
    <div {{ bem('menu', [], footer__base_class) }}>
    <div class="left_footer">
      {% include "@atoms/text/text/logo.twig" %}
      {% include "@atoms/text/text/copyright.twig" %}
      {{ drupal_block('system_menu_block:social-links-footer') }}
    </div>

      {% block footer__menu %}
        {% include "@molecules/menus/inline/inline-menu.twig" %}
      {% endblock %}

    </div>
  </div>
</footer>
