.layout--threecol-section--33-34-33 {
  flex-direction: column;
}

.layout--threecol-section--25-50-25 {
  display: flex;
  flex-direction: column;
}

.blue-h2 {
  font-size: 24px;
  font-weight: 900;
  color: $pager-active;
  margin: 0;
  text-transform: capitalize;
}

.podcast {
  .heading {
    margin: 0;

    a {
      font-size: 15px;
      line-height: 1.1;
      font-weight: 700;

      &:hover {
        color: $title-color;
      }
    }
  }
}

.podcast-data {
  .main-data {
    display: inline-block;
    @include data;
  }

  span {
    a {
      @include data;
    }
  }
}

.podcast-block {
  background-color: $podcast-bg;
  width: auto;
  margin-right: -15px;
  margin-left: -15px;

  .podcast-container-big {
    padding: 20px 20px 0 20px;
  }
}

.webform-block {
  background-color: $podcast-bg;
  width: auto;
  margin-right: -15px;
  margin-left: -15px;
}

.form-item__label {
  font-size: 24px;
  font-weight: 900;
  color: #4c4084;
  margin: 20px 0 0 0 ;
  text-transform: capitalize;
  padding: 20px 0 0 0;
}

.magazine-block {
  border: $border;
  padding: 15px 20px 20px;

  div {
    div {
      .more-link {
        max-width: 100%;

        a:after {
          left: 60%;
        }
      }
    }
  }
}

.sidebar {
  border-bottom: $border;

  .author-info {
    .custom-date {
      .dash {
        display: none;
      }
    }
  }
}

.more-link {
  margin-top: 5px;
  max-width: 150px;

  a {
    background-color: $text;
    font-size: 11px;
    line-height: 35px;
    letter-spacing: 1px;
    height: auto;
    display: block;
    text-align: center;
    color: $white;
    border-radius: 3px;
    position: relative;
    padding-right: 15px;

    &:hover {
      background-color: $pager-active;
      transition: 0.3s;
    }

    &::after {
      content: "";
      width: 16px;
      height: 13px;
      background: url("/themes/custom/customtheme/assets/icons/menu-white-small.png");
      background-size: 100%;
      position: absolute;
      top: 10px;
      left: 85%;
    }
  }
}

.politics {
  display: flex;
  padding: 15px 0;

  .left {
    margin-right: 15px;
    position: relative;

    .category_link {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .right {
    width: 70%;
    border-top: $border;

    .text {
      display: none;
    }

    .author-info {
      .custom-date{
        span {
          display: none;
        }
      }
    }
  }
}

.politics-block {
  .blue-h2 {
    position: relative;
    padding-top: 25px;
    padding-left: 15px;

    &::after {
      font-size: 60px;
      content: "latest";
      text-transform: uppercase;
      position: absolute;
      top: -8px;
      left: 0;
      color: #f3f3f3;
      z-index: -1;
    }
  }
}

.sport {
  padding: 15px;
  margin-top: 25px;
  border: $border;

  .contextual-region {
    .contextual-region {
      .more-link {
        max-width: 150px;
      }
    }
  }
}

.sidebar-right {
  .left-part {
    width: 75%;
  }

  .image {
    width: 25%;

    div {
      width: 100%;

      a {
        width: 100%;
        display: block;

        picture {
          width: 100%;
          display: flex;
          justify-content: right;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}


.culture-block {
  border: $border;
  padding: 15px;

  .contextual-region {
    .contextual-region {
      .more-link {
        max-width: 150px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .layout--threecol-section--25-50-25 {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20px;

    .layout__region--first {
      margin-right: 20px;
    }

    .layout__region--second {
      margin-right: 20px;
    }
  }

  .blue-h2 {
    font-size: 18px;
  }

  .politics {
    .right {
      .main-title {
        font-size: 13px;
      }
    }
  }

  .sport {
    margin-top: 0;
  }

  .sidebar-right {
    margin-bottom:  0;

    .left-part {
      width: 65%;

      .author-info {
        display: none;
      }
    }

    .image {
      width: 35%;
    }
  }

  .magazine-block {
    position: sticky;
    top: 0;
  }

  .politics-block {
    .blue-h2 {
      &::after {
        font-size: 70px;
        top: -15px;
      }
    }
  }

  .magazine-block {
    div {
      div {
        .more-link {
          a:after {
            left: 85%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1019px) {
  .blue-h2 {
    font-size: 19px;
  }

  .politics {
    .left {
    width: 40%;
    }

    .right {
      .main-title {
        font-size: 15px;
      }
    }
  }

  .main-title {
    font-size: 14px;
  }

  .sidebar-right {
    margin-bottom:  0;

    .left-part {
      width: 60%;

      .author-info {
        display: inline-block;
      }
    }

    .image {
      width: 35%;
      max-width: 78px;
    }
  }

  .politics-block {
    .blue-h2 {
      &::after {
        font-size: 90px;
        top: -45px;
      }
    }
  }
}

@media screen and (min-width: 1140px) {
  .blue-h2 {
    font-size: 24px;
  }
  .politics {
    .right {
      .text {
        display: inline-block;
      }

      .main-title {
        font-size: 21px;
      }
    }
  }

  .main-title {
    font-size: 15px;
  }
}

.must-read {
  background-color: $pager-active;
  color: $white;
  padding: 50px 15px 80px;
  margin-right: -20px;
  margin-left: -20px;
  margin-top: 60px;
  width: auto;

  .must-text {
    font-size: 15px;
    line-height: 24px;

    .text-long {
      text-align: left;

      p {
        color: $white;
        margin-top: 20px;
      }
    }
  }

  .must-h2 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
  }
}

.block-must-read-main {
  margin-top: -50px;
}

.must-main-photo {
  position: relative;

  .category_link {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.must-read-secondary {
  div {
    div {
      display: flex;
      flex-wrap: wrap;

      .views-row {
        width: 45%;
        margin-right: 10px;
        padding-bottom: 18px;
      }
    }
  }
}

.must-read-secondary {
  .author-info {
    .custom-date {
      span {
        display: none;
      }
    }
  }
}

.layout--twocol-section--33-67 {
  display: block;
}

@media screen and (min-width: 768px) {
.layout--twocol-section--33-67 {
  display: flex;
  flex-wrap: nowrap;

  .layout__region--first {
    margin-right: 20px;
  }

  .layout__region--second {
    margin-top: -30px;
  }
}

  .block-must-read-main {
    margin-top: -30px;
  }

  .must-read-secondary {
    .contextual-region {
      .contextual-region {
        .views-row {
          margin-right: 18px;
        }
      }
    }
  }

  .must-read {
    padding: 30px 15px 40px;
  }
}

@media screen and (min-width: 1019px) {
  .must-read-secondary {
    .main-title {
      font-size: 17px;
    }

    .author-info {
      margin-top: 5px;
      .custom-date {
        span {
          display: inline-block;
        }
      }
    }
  }

  .layout--twocol-section--33-67 {
    .layout__region--second {
      margin-top: 20px;
    }
  }

  .must-read-main {
    .author-info {
      margin-top: 5px;
    }
  }

  .podcast-node {
    .podcast-right {
      display: block;

      .image {
        div {
          a {
            picture {
              img {
                min-width: 50px;
              }
            }
          }
        }
      }
    }
  }
}

.arts-block {
  border: $border;
  padding: 15px;
}
.arts-container {
  margin-bottom: 20px;

  .author-info {
    .custom-date {
      span {
        display: none;
      }
    }
  }
}

.style-block {
  margin-top: 50px;

  .blue-h2 {
    position: relative;

    &::after {
      font-size: 60px;
      content: "latest";
      text-transform: uppercase;
      position: absolute;
      top: -38px;
      left: 0;
      color: #f3f3f3;
      z-index: -1;
    }
  }
}

.style-main-big {
  margin-bottom: 40px;

  .must-main-photo {
    margin-bottom: 15px;
  }

  .main-title-big {
    margin-bottom: 5px;
  }

  .author-info {
    margin: 0;
  }
}

.travel-block {
  border: $border;
  padding: 15px;

  .contextual-region {
    .contextual-region {
      .more-link{
        max-width: 150px;
      }
    }
  }
}

.news-block {
  border: $border;
  padding: 15px;

  .contextual-region {
    .contextual-region {
      .more-link{
        max-width: 150px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .style-block {
    .blue-h2 {
      &::after {
        font-size: 70px;
        top: -45px;
      }
    }
  }

  .style-block {
    .blue-h2 {
      margin-bottom: 10px;
    }
  }

  .arts-block {
    position: sticky;
    top: 0;
  }

  .layout--threecol-section--33-34-33 {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.layout--threecol-section--25-50-25 {
  .layout__region--first {
    flex: 0 1 22%;
  }

  .layout__region--second {
    flex: 0 1 55%;
  }

  .layout__region--third {
    flex: 0 1 23%;
  }

  .style-main-big {
    .must-main-photo {
      .image {
        div {
          a {
            picture {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.podcast-node {
  display: flex;
  justify-content: space-between;
}

.menu-connected {
  display: flex;

  .menu-item {
    width: 32%;
    margin-right: 5px;
    text-align: center;
    list-style: none;
    padding: 5px 0;

    a {
      margin-top: 5px;
      max-width: 60px;
      display: inline-block;
      color: #fff;
      font-weight: bold;
    }

    &:nth-child(1) {
      background-color: #516eab;
    }

    &:nth-child(2) {
      background-color: #29c5f6;
    }

    &:nth-child(3) {
      background-color: #e14e42;
      margin-right: 0;
    }

    .menu_link_content {
      padding-top: 10px;

      div {
        img {
          margin: 0 auto;
        }
      }
    }

    &:hover {
      background-color: black;
    }
  }
}

.stay-connected {
  background-color: $podcast-bg;
  width: auto;
  margin-right: -15px;
  margin-left: -15px;
  padding: 15px 20px 3px;
  margin-top: 20px;
  margin-bottom: 80px;
}

@media screen and (min-width: 1019px) {
  .style-block {
    .blue-h2 {
      &::after {
        font-size: 90px;
        top: -70px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .podcast-block {
    margin-right: 5px;
    margin-bottom: 60px;
  }

  .custom-form {
    margin: 0 5px 0 0;
    padding: 20px;
  }

  .podcast-container-big {
    padding-bottom: 15px;
  }

  .stay-connected {
   padding: 20px;
    margin: 0;
  }

  .menu-connected {
    .menu-item {
      a {
        font-size: 11px;
      }
    }
  }

  .podcast-right {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .podcast-block {
    margin-right: 25px;
  }

  .custom-form {
    margin-right: 25px;
  }

  .menu-connected {
    .menu-item {
      a {
        font-size: 13px;
      }
    }
  }
}

.podcast-node {
  .podcast-right {
    .image {
      div {
        a {
          picture {
            img {
              border-radius: 50%;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}
