.header {
  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &__primary {
    @include medium {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: $space 0;
      width: 100%;
      border-bottom: $border;

      .header__menu {
        width: 100%;

        &wrapper {
          width: 100%;
        }
      }
    }
  }

  &__branding {
    max-width: 190px;
    padding: 1rem 0;

    @include medium {
      margin-right: $space;
      max-width: 300px;
      padding: 0;
    }
  }
}

.header__menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-and-date {
    margin: 0 auto;
  }

  .social-menu {
    margin-left: 0;
  }

  .search_a {
    margin-left: 0;
    display: block;
  }
}
