{#
/**
 * Available variables:
 * - blockquote_base_class - the base classname
 * - blockquote_modifiers - array of modifiers to add to the base classname
 * - blockquote_blockname - blockname prepended to the base classname
 * - blockquote_url - the url this blockquote should point to
 * - blockquote_content - the content of the blockquote (typically text)
 *
 * Available blocks:
 * - blockquote_content - used to replace the content of the blockquote with something other than text
 *   for example: A formatted text field in Drupal
 */
#}
{% set data__base_class = data__base_class|default('data-p') %}

{% set data__attributes = {
  class: bem(data__base_class, data__modifiers, data__blockname),
} %}

<div class="logo-and-date">
  <p class="logo">
    <a href="#" class="logo_link">PULSES PRO</a>
  </p>
  <p {{ add_attributes(data__attributes) }} >
      {{ "now"|date('l, F j, Y') }}
  </p>
</div>
