{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<a href="#">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDhH78yvM-n7YGHgNFBIkazIpPC4RBhb7ibA&usqp=CAU" alt="image" width="25px" height="25px">
</a>
