.data-p {
  padding: 0;
  margin: 0;
  @include date();
  font-style: normal;

  &:hover {
    color: $text !important;
  }
}

.weather {
  font-weight: 500;
  @include date();
  @include gelasio500;

  &:hover {
    color: black !important;
  }
}
