/* Create a mixin for paragraph styles that can be implemented
 * in components with other classnames.
*/
@mixin paragraph($margin: 0 0 1em) {
  margin: $margin;
}

.data-p{
 @include date();

  &:hover {
    color: $text!important;
  }
}

.logo_link{
  line-height: 60px;
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  @include logo();

  &:hover{
    color: $text!important;
}}

.weather{
  font-weight: 500;
  @include date();

  &:hover {
    color: black!important;
  }
}
