.pager {
  margin: 2em 0;
}

.pager__items {
  @include list-reset;
}

.pager__item {
  display: inline-block;
}

.pager__link {
  padding: 5px 11px;
  border: $pager-border;
  display: inline-block;
  margin: 0 8px 8px 0;
  min-width: 33px;
  text-align: center;
  color: $gray;
  line-height: 21px;
  float: left;

  &.is-active {
    background-color: $pager-active;
    color: $white;
  }
  &:hover,
  &:focus {
    background-color: clr(text);
    color: clr(text-inverse);
  }

  &.is-active:hover,
  &.is-active:focus {
    background-color: clr(accent);
  }
}
