.menu-account__item {
  list-style: none;
  margin: 0;
  padding: 0 9px;
}

.menu-account__link {
  list-style: none;
  margin: 0;
  padding: 0 9px;

  &:hover {
    list-style: none;
    margin: 0;
    padding: 0 9px;
  }
}
