/*
 * General Mixins (put specific ones in component files where applicable)
*/

/* Mixin - Clearfix.
 * Adds clearfix based on http://bourbon.io/docs/#clearfix
 * use example =   @include cleafix
*/

@mixin body-copy {
  font-family: $font-body;
  font-size: 1rem;
  line-height: 1.6;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

$outer-container-break: $small;

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper(
  $container-max-width: $max-width,
  $outer-container-break: $small,
  $v-margin: 0,
  $v-padding: 0,
  $h-padding: $space,
  $h-padding-large: $h-padding
) {
  max-width: #{$container-max-width};
  width: 100%;
  margin: #{$v-margin} auto;
  padding: #{$v-padding} #{$h-padding};

  @include breakpoint($outer-container-break) {
    padding: #{$v-padding} #{$h-padding-large};
  }

  @include breakpoint($container-max-width) {
    padding-left: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
    padding-right: calc(
      #{$h-padding-large} + calc(-50vw + calc(#{$container-max-width} / 2))
    );
  }
}

// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

@mixin no-bottom {
  margin-bottom: 0;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin top-menu {
  display: flex;
}

@mixin list-top {
  list-style: none;
  margin: 0;
  padding: 0 9px;
}

@mixin link-top {
  text-decoration: none;
  color: $white;
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

@mixin link-footer {
  text-decoration: none;
  color: $white;
  line-height: 1.1;
  font-weight: 500;
}

@mixin link-hover {
  color: $purple !important;
}

@mixin main-link {
  font-size: 14px;
  line-height: 55px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

@mixin li-height {
  line-height: 24px;
  font-size: 14px;
}

@mixin date {
  color: $text;
  font-size: 14px;
}

@mixin logo {
  color: $text;
  text-decoration: none;
}

@mixin white {
  color: $white !important;
}

@mixin container {
  max-width: 1600px !important;
}

@mixin date {
  font-size: 13px;
  line-height: 1;
  font-style: italic;
  font-weight: 400;
  color: $text;
}

@mixin title {
  color: $text;
  font-size: 16px;
  font-weight: 700;
}
@mixin title-hover {
  color: $purple;
}
