<div {{ bem('block') }}>
  {{ title_prefix }}
  {% if label %}
    <h2 class="category_title">Category</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
   <div class="category_content">
     {{ content }}
   </div>
  {% endblock %}
</div>
