{% set image_url = content.field_photo.0 %}
{% set term = content.field_category.0 %}
{% set created = node.createdtime|format_date('custom', 'F j, Y') %}
{% set text = node.field_teaser_text.value %}

<div class="teasers">
  {% include "@molecules/news-teaser/news-teaser.twig" with {
    image: image_url,
    term: term,
    img_src: url,
    title: label,
    author: author_name,
    created: created,
    text: text,
  }
  %}

</div>
