<div class="podcast-left">
  <div class="main-title">
    {% include "@atoms/title/title.twig" with {
      img_src: img_src,
      title: title,
    }
    %}
  </div>
  <div class="author-info">
    {% include "@atoms/node-teaser-date/node-teaser-date.twig" with {
      author: author,
      created: created,
    } %}
  </div>

  <div>
    {% include "@molecules/audio/audio-player.twig" with {
      audio: audio,
    }
    %}
  </div>
</div>

<div class="podcast-right">
  <div class="image">
    {% include "@atoms/node-teaser-image/node-teaser-image.twig" with {
      image: image,
    } %}
  </div>
</div>
